<section>
  <form [formGroup]="form">
    <label for="default">Default component</label>
    <input type="radio" id="default" formControlName="componentType" value="1" />
    <label for="onPush">OnPush component</label>
    <input type="radio" id="onPush" formControlName="componentType" value="2"/>
  </form>
</section>
<section *ngIf="(selectedComponent$ | async) as selectedComponent" class="selected-component">
  <app-agile-team-default *ngIf="selectedComponent === 'default'"/>
  <app-agile-team-on-push *ngIf="selectedComponent === 'onPush'"/>
</section>
