@use 'src/styles/abstracts/mixins' as mixins;
@import 'colors';

.radio-section {
  color: $dark-primary-text;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 16px 0;
  }

  &__form-fieldset {
    display: flex;
    width: 100%;
    border: none;
    padding: 0;
  }

  &__form-fieldset-legend {
    @include mixins.visually-hidden;
  }

  &__form-fieldset-custom-radio-button {
    @include mixins.custom-radio-button;
  }
}

.radio-info-section {
  border: 1px solid $gray;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
  width: 50%;
}

.radio-info-section-paragraph {
  text-align: center;
}
