<section aria-labelledby="how-to-work-heading" class="radio-section">
    <h2 id="how-to-work-heading">Hogyan dolgozunk?</h2>
    <form class="radio-section__form" [formGroup]="form">
        <fieldset class="radio-section__form-fieldset">
            <legend class="radio-section__form-fieldset-legend">Hogyan dolgozunk</legend>
            <label class="radio-section__form-fieldset-custom-radio-button" for="consultation">
                <input type="radio" id="consultation" formControlName="radioInfo" value="1" data-content="1" />
                Konzultáció</label
            >
            <label class="radio-section__form-fieldset-custom-radio-button" for="planning">
                <input type="radio" id="planning" formControlName="radioInfo" value="2" data-content="2" />
                Tervezés</label
            >
            <label class="radio-section__form-fieldset-custom-radio-button" for="uxPrototype">
                <input type="radio" id="uxPrototype" formControlName="radioInfo" value="3" data-content="3" />
                UX prototípus</label
            >
            <label class="radio-section__form-fieldset-custom-radio-button" for="newFeature">
                <input type="radio" id="newFeature" formControlName="radioInfo" value="4" data-content="4" />
                Kéthetente új funkció</label
            >
        </fieldset>
    </form>
    <section *ngIf="selectedRadioInfo$ | async as radioInfo" class="radio-info-section">
        <p class="radio-info-section-paragraph">{{ radioInfo }}</p>
    </section>
</section>