@import 'colors';

@mixin visually-hidden {
  position: absolute;
  left: -10000em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

@mixin custom-radio-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.375rem;
  font-weight: bold;
  text-align: center;
  flex: 1;

  input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 86px;
    height: 86px;
    margin-bottom: 8px;
    border-top: 2px solid $gray;
    border-radius: 100%;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2, 1.2);
      cursor: pointer;
    }

    &::before {
      content: attr(data-content);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 3.75rem;
      color: $nitro-green;
    }

    &:checked {
      background-color: $nitro-green;
      border-top: 2px solid $nitro-green;

      &::before {
        color: white;
      }
    }
  }
}
