<h2>On push</h2>
<section>
  <form [formGroup]="signalForm">
    <h3>With signals</h3>
    <input type="text" formControlName="name" />
      <p *ngIf="nameSignal(); else signalPlaceHolder">Your name is {{ nameSignal() }}</p>
      <ng-template #signalPlaceHolder>
          <p>Type your name</p>
      </ng-template>
  </form>
</section>
<section>
  <form [formGroup]="defaultForm">
    <h3>Without signals</h3>
    <input type="text" formControlName="name" />
    <p *ngIf="(nameObs$ | async) as name; else defaultPlaceHolder">Your name is {{ name }}</p>
    <ng-template #defaultPlaceHolder>
      <p>Type your name</p>
    </ng-template>
  </form>
</section>
