@import 'colors';

.header {
  display: flex;
  height: 90px;
  background-color: $background-color;

  &__logo {
    display: flex;
    img {
      margin: 16px 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    flex: 1;
    padding-right: 32px;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__nav-list-item {
    list-style-type: none;
  }

  &__nav-list-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: $dark-secondary-text;
    font-weight: bold;
    font-size: 0.875rem;

    &:hover {
      color: $nitro-blue;
    }
  }
}