<header class="header">
  <a [routerLink]="'/'" class="header__logo">
    <img src="./assets/images/logo.png" alt="Nitrowise" />
  </a>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-list-item"><a class="header__nav-list-item-link" [routerLink]="'/agile-team'">Agile Delivery Team</a></li>
      <li class="header__nav-list-item"><a class="header__nav-list-item-link" [routerLink]="'/'">Agilis szoftvertervezés</a></li>
      <li class="header__nav-list-item"><a class="header__nav-list-item-link" [routerLink]="'/'">Blog</a></li>
      <li class="header__nav-list-item"><a class="header__nav-list-item-link" [routerLink]="'/'">Karrier</a></li>
      <li class="header__nav-list-item"><a class="header__nav-list-item-link" [routerLink]="'/'">Akadémia</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>