@import 'colors';

body {
  margin: 0;
  font-family: 'Lora', serif;
  padding: 0 2rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

p {
  margin: 0;
}

html, body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
