<h2>Default</h2>
<section>
    <form [formGroup]="signalForm">
        <h3>With signals</h3>
        <input type="text" formControlName="name" />
        <p *ngIf="nameSignal(); else signalPlaceHolder">Your name is {{ nameSignal() }}</p>
        <ng-template #signalPlaceHolder>
            <p>Type your name</p>
        </ng-template>
    </form>
</section>
<section>
    <form [formGroup]="defaultForm">
        <h3>Without signals</h3>
        <input type="text" formControlName="name" />
        <p *ngIf="(nameObs$ | async) as name; else defaultPlaceHolder">Your name is {{ name }}</p>
        <ng-template #defaultPlaceHolder>
            <p>Type your name</p>
        </ng-template>
    </form>
</section>
<section>
    <h3>{{ 'HELLO' | translate }}</h3>
    <button mat-button (click)="fillForm()" id="fillBtn">Fill Form</button>
    <button mat-button (click)="clearForm()" id="clearBtn">Clear Form</button>
    <form [formGroup]="buttonForm">
        <label for="exampleText">The best IT company is:</label>
        <input type="text" formControlName="exampleText" id="exampleText">
    </form>
</section>